{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Static Example</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
    <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );

    </script>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }} {{ field.errors }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
<script>
        $(function () {
          $("#datetimepicker1").datetimepicker();
          format: 'DD/MM/YYYY'
        });

</script>

</body>
</html>